/* css reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}



/* General Style Tips */

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    line-height: 1.5;
    color: #4f4f4f;
    font-family: 'Roboto Mono', monospace;

}

h1 {
    font-size: 6rem;
    font-family: 'Chelsea Market', cursive;
}

a {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

span {
    font-weight: bold;
}

section {
    padding: 4% 0;
}

nav {
    padding: 2% 0;
}

nav a {
    display: inline-block;
    padding: 1% 0;
    width: 12%;
    border-radius: 10px;
    text-align: center;
    color:white;
}

.orangea {
    background-color: #FF764E;
    margin-left: 10%;
}

.orangea:hover {
    color: #FF764E;
    background-color: white;
    margin-left: 10%;
    transition: 0.5s;
}


footer .orangea:hover {
    color: #FF764E;
    background-color: #F9E7DC;
    transition: 0.5s;
}




.bluea {
    background-color: #5ED3EB;
    margin: 0 20%;
}

.bluea:hover {
    color: #5ED3EB;
    background-color: white;
    transition: 0.5s;
}

footer .bluea:hover {
    color: #5ED3EB;
    background-color: #F9E7DC;
    transition: 0.5s;
}


.yellowa {
    background-color: #FFCD69;
    margin-right: 10%;
}

.yellowa:hover {
    color: #FFCD69;
    background-color: white;
    transition: 0.5s;
}

footer .yellowa:hover {
    color: #FFCD69;
    background-color: #F9E7DC;
    transition: 0.5s;
}

/* Title Section Styles */

.titles{
    text-align:center;
    position:relative;
}
.left, .right{
    display:inline-block;
}
.left{
    width:30%;
    margin-left:5%;
}
.left img{
    border-radius:50%;
}
.right{
    width:55%;
    margin-left: 5%;
}
.right div{
    position:absolute;
    top:25%;
}

.colored {
    background-color: #DDB9A3;
    padding: 2% 0;
    color: white;
    font-size: 2.1rem;
    text-align: center;
    margin: 1% 2%;

}

.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    font-size: .8em;
    padding: 5% 0;
}

.middle img {
    width: 200px;
}

.backgroundimage{
    height: 350px;
    background-image: url("assets/footer_img.jpg");
    background-position: top;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #F9E7DC;
}

.middle p {
    line-height: 1.2;
}

span:hover {
    color: #FF764E;
}